 
.background    { background:  url('http://www.wallpaperhi.com/thumbnails/detail/20140803/nintendo%20video%20games%20link%20hyrule%20the%20legend%20of%20zelda%20maps%20super%20nintendo%20sprites%20retro%20games%2016bit_www.wallpaperhi.com_15.jpg') ; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
	border-spacing: 0;  }
				 
.background td { padding: 0;          }
.lava          { background: rgb(0, 165, 40); }

.wall          { background: blue;   }

.fake          { background: blue;   }
.note          { background: white;   }

.actor  { position: absolute;  }

.player {
   display:block;
   width:126px; 
   height:180px;
   background-color:green;
   -webkit-border-radius:63px 63px 63px 63px/
   108px 108px 72px 72px;
   border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.coin	{     
  width: 2;
  height: 0;
  border-bottom: 20px solid yellow;
  /* 104 = 120 * 0.866 */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}


.power { width: 0;
  height: 0;
  border-bottom: 6px solid white;
  border-top: 6px solid white;
  border-left: 6px solid red;
  border-right: 6px solid red;
  -moz-border-radius: 60px; 
  -webkit-border-radius: 60px; 
  border-radius: 60px;}
  
.up { background: rgb (10,100, 200);}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(255, 255, 255);
  box-shadow: -4px -7px 8px green, 4px -7px 8px green;
}
.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow;
}
